<div class="forecast_short__day {{#if date.is_weekstart}} forecast_short__day-weekstart {{/if}}">
    <div class="forecast_short__weekday {{#if date.is_weekend}} forecast_short__weekday-weekend {{/if}}">
        {{~#if date.is_tomorrow~}}
            завтра
        {{~else~}}
            {{datef 'D' date.date}}
        {{~/if~}}
    </div>
    <div class="forecast_short__date {{#if date.is_weekend}} forecast_short__date-weekend {{/if}}">
        {{~#if date.is_tomorrow~}}
            {{datef 'dd MMMM' date.date}}
        {{~else~}}
            {{datef 'dd' date.date}}
        {{~/if~}}
    </div>
    <div class="forecast_short__weather-box" style="background-color: #{{temp2color day.temp}}">
        <img class="forecast_short__weather-icon" src="{{weatherIcon day.weather_icon}}">
        <div class="forecast_short__weather-text">{{day.weather}}</div>
        <div class="forecast_short__weather-temp">{{day.temp}}</div>
    </div>
    <div class="forecast_short__weather-temp-night" style="background-color: #{{temp2color night.temp}}">
        {{~night.temp~}}
    </div>
</div>
