<div class="forecast_short__day {{#if model.isFirstDayOfWeek}} forecast_short__day-weekstart {{/if}}">
    <div class="forecast_short__weekday {{#if model.is_weekend}} forecast_short__weekday-weekend {{/if}}">
        {{#if model.isTomorrow}}
            завтра
        {{else}}
            {{datef 'D' model.date}}
        {{/if}}
    </div>
    <div class="forecast_short__date {{#if model.is_weekend}} forecast_short__date-weekend {{/if}}">
        {{#if model.isTomorrow}}
            {{datef 'dd MMMM' model.date}}
        {{else}}
            {{datef 'dd' model.date}}
        {{/if}}
    </div>
    <div class="forecast_short__weather-box">
        <img class="forecast_short__weather-icon" src="{{weatherIcon dayInfo.weather_icon}}">
        <div class="forecast_short__weather-text">{{dayInfo.weather}}</div>
        <div class="forecast_short__weather-temp">{{dayInfo.temp}}</div>
    </div>
    <div class="forecast_short__weather-temp-night">{{nightInfo.temp}}</div>
</div>
