{{#each tabs}}
    <a data-tab="{{link}}" class="button tabs__tab tabs__tab_
        {{~#if @first~}}
            left
        {{else}}
            {{~#if @last~}}
                right
            {{~else~}}
                middle
            {{/if}}
        {{/if}}
        {{#if class}}
            {{class}}
        {{/if}}
        {{#ifCond link ../state.tab}}
            button-active
        {{/ifCond}}
    ">{{title}}</a>
{{/each}}
