                    <div class="current-weather_columns-wrapper">
                        <div class="current-weather_columns">
                            <div class="current-weather_columns_row">
                                <div class="current-weather_column current-weather_column__now">
                                    <div class="current-weather_title">Сейчас</div>
                                    <div class="current-weather_content temp-color_30">
                                        <div class="current-weather_column-container">
                                            <div class="current-weather_temp-value">{{parts.0.temp}} &deg;C</div>
                                            <div class="current-weather_icon">
                                                <img src="http://ekb.shri14.ru/icons/bkn_d.svg" alt="">
                                                <div class="current-weather_icon__text">{{parts.0.weather}}</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="current-weather_column">
                                    <div class="current-weather_title">Днем</div>
                                    <div class="current-weather_content temp-color_15">
                                        <div class="current-weather_column-container">
                                            <div class="current-weather_temp-value">{{parts.1.temp}} &deg;C</div>
                                            <div class="current-weather_icon">
                                                <img src="http://ekb.shri14.ru/icons/bkn_d.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="current-weather_column">
                                    <div class="current-weather_title">Вечером</div>
                                    <div class="current-weather_content temp-color_4">
                                        <div class="current-weather_column-container">
                                            <div class="current-weather_temp-value">{{parts.2.temp}} &deg;C</div>
                                            <div class="current-weather_icon">
                                                <img src="http://ekb.shri14.ru/icons/bkn_d.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="current-weather_column">
                                    <div class="current-weather_title">Ночью</div>
                                    <div class="current-weather_content temp-color_-2">
                                        <div class="current-weather_column-container">
                                            <div class="current-weather_temp-value">{{parts.3.temp}} &deg;C</div>
                                            <div class="current-weather_icon">
                                                <img src="http://ekb.shri14.ru/icons/bkn_d.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="current-weather_column current-weather_column__last">
                                    <div class="current-weather_content__info">
                                        <ul>
                                            <li>Давление: 732 мм рт. ст.</li>
                                            <li>Ветер: западный, 6.0 м/с (21.6 км/ч)</li>
                                            <li>Влажность: 93%</li>
                                            <li>Восход: 08:53 Заход: 16:33</li>
                                            <li>
                                                Данные зарегистрированы более получаса назад
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="current-weather_footer">
                        Вчера +10 &deg;
                    </div>
